body {
    background-color: white;
}

.col-lg-12 {
    background-color:white;
}

h1{
margin-bottom:50px;
}

#link{

  margin:0 auto;
  max-width: 240px;
  font: bold 18px Arial;

  text-decoration: none;
  background-color: lightgreen;
  color: #333333;
  padding: 10px 18px;
  margin-bottom: 20px;
  border-radious: 5px;
  }

#linkadmin{

  margin:0 auto;
  max-width: 240px;
  font: bold 18px Arial;

  text-decoration: none;
  background-color: blue;
  color: #333333;
  padding: 10px 18px;
  margin-bottom: 20px;
  border-radious: 5px;
  }

#col{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 5px;
}

#phead{

font: bold 22px Arial;
}

.myButton{
width:240px;
height:50px;
}

#noborderinput{
    background-color: transparent;
    border: 0px solid;

}

#cli{
margin-bottom:20px;
}

textarea{
resize: none;
max-width: 350px;
}


input,li,select {
font-family: "Arial";
font-size:18px;
}

