{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Nepotrjeni uporabniki</h1>

    {% for n in prejemniki  %}
        <p><a href="/admin/{{ n.key.id() }}">{{ n.user }}</a></p>
        <div id="link">
        <a href="/admin/{{ n.key.id() }}/vidi">Dovoli da vidi vse prejemnike</a>
        </div>
{% endfor %}


    <form method='post' action='/admin'>
        <button class=myButton type='submit'>Vsem dovili da vidijo vse prejemnike</button></li>
    </form>

    <h1>Potrjeni uporabniki</h1>
    {% for n in vsiprejemniki  %}
        <p><a href="/admin/{{ n.key.id() }}">{{ n.user }}</a></p>
    {% endfor %}

    <div id="link">
        <a href="/sendwarning">Pošlji opozorila</a>
    </div>
    <div id="link">
        <a href="/sendunread">Pošlji za vsa neprebrana</a>
    </div>

    <div id="link">
        <a href="/">Nazaj na začetek</a>
    </div>



{% endblock specifika %}
