{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Vnesite sporočilo</h1>
            <form method='post' action='/redirect'>
            <ol id="col">
                <li id="cli">Pošiljatelj: <input id="noborderinput" name='posiljatelj' value="{{ user.email() }}" readonly ></li>
                <li id="cli">Prejemnik:

                    <select name="prejemnik">
                        {% for n in prejemniki  %}
                        <option value="{{ n.user }}">{{ n.user }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li id="cli"><textarea rows="4" cols="50" name='sporocilo' onclick="this.focus();this.select()" placeholder="Obvezno vpisi kaj notri" required></textarea></li>
                <li id="cli"><button class=myButton type='submit'>Objavi</button></li>
                <li id="cli">Vsa sporočila bojo prvotno verjetno vržena v spam (Gmail ne mara sporočil ki jih pošilja... google).</li>
                <li id="cli">Predlagam kak filter (pošiljatelj ali pa link, ki je v sporočilu). Za več informacije me kontaktirajte.</li>
            </ol>


    <div id="link">
        <a href="/">Nazaj na začetek</a>
    </div>



{% endblock specifika %}
