{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}

{% if logiran %}

    <h1>Vnesite sporočilo</h1>
            <form method='post' action='/redirect'>
            <ol>
                <li>Pošiljatelj: <input id="noborderinput" name='posiljatelj' value="{{ user.email() }}" readonly ></li>
                <li>Prejemnik:

                    <select name="prejemnik">
                        {% for n in prejemniki  %}
                        <option value="{{ n.user }}">{{ n.user }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li><textarea rows="4" cols="50" name='sporocilo' onclick="this.focus();this.select()">Obvezno vpisi kaj notri</textarea></li>
                <li><button class=myButton type='submit'>Objavi</button></li>
            </ol>


    <div id="link">
        <a href="/">Nazaj na začetek</a>
    </div>


{% else %}
    <h1>Dobrodošli na naši strani!!!</h1>
    <h2>Ker skrbimo za varnost se prosim prijavi <a href="{{ login_url }}">tukaj</a></h2>
{% endif %}
{% endblock specifika %}
