{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Dobrodošli na naši strani!!!</h1>
        <div id="link" >
            <a href="/create">Pošlji sporočilo</a>
        </div>
    {% if stnovih > 0 %}
        <div id="link">
            <a href="/mymessages">Prejeta sporočila {{ stnovih }}</a>
        </div>
    {% else %}
        <div id="link">
            <a href="/mymessages">Prejeta sporočila</a>
        </div>
    {% endif %}
    {% if stposlanih > 0 %}
        <div id="link">
            <a href="/sendmessages">Poslana sporočila {{ stposlanih }}</a>
        </div>
    {% else %}
        <div id="link">
            <a href="/sendmessages">Poslana sporočila</a>
        </div>
    {% endif %}
    <div id="link">
        <a href="/weather">Vreme</a>
    </div>
    <div id="link">
        <a href="/time">Časovni opomniki</a>
    </div>

{% endblock specifika %}
