{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Vsa poslana sporočila</h1>

    <p id="phead">--- Neprebrana sporočila ---</p>

    {% for forum in newseznam %}
        <p>Prejemnik: {{ forum.reciever }}</p>
        <p>Sporočilo: <a href="/sendmessages/{{ forum.key.id() }}">{{ forum.message }}</a></p>
        <p>Kreirano: {{ forum.created }} </p>
        <p>   --------------------------- </p>
    {% endfor %}

    <p id="phead">--- Prebrana sporočila ---</p>

    {% for forum in seznam %}
        <p>Prejemnik: {{ forum.reciever }}</a></p>
        <p>Sporočilo: <a href="/sendmessages/{{ forum.key.id() }}">{{ forum.message }}</a></p>
        <p>Kreirano: {{ forum.created }} </p>
        <p>   --------------------------- </p>
    {% endfor %}


    <div id="link">
        <a id=aback href="/">Tukaj klikni za nazaj</a>
    </div>

    <p><a href="{{ logout_url }}">Odjavi se tukaj</a></p>

{% endblock specifika %}
