{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}

{% if logiran %}
    <h1>Dobrodošli na naši strani!!!</h1>

    {% for forum in seznam %}
        <p>Pošiljatelj: <a href="/">{{ forum.sender }}</a></p>
        <p>Sporočilo: {{ forum.message }} </p>
        <p>   --------------------------- </p>
    {% endfor %}


    <div id="link">
        <a id=aback href="/">Tukaj klikni za nazaj</a>
    </div>

    <p><a href="{{ logout_url }}">Odjavi se tukaj</a></p>
{% else %}
    <h1>Dobrodošli na naši strani!!!</h1>
    <h2>Ker skrbimo za varnost se prosim prijavi <a href="{{ login_url }}">tukaj</a></h2>
{% endif %}
{% endblock specifika %}
