{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Vsa prejeta sporčila</h1>

    <p id="phead">--- Nova sporočila ---</p>

    {% for forum in new %}
        <p>Pošiljatelj: <a href="/">{{ forum.sender }}</a></p>
        <p>Sporočilo: {{ forum.message }} </p>
        <p>Kreirano: {{ forum.created }} </p>
        <p>   --------------------------- </p>
    {% endfor %}

    <p id="phead">--- Stara sporočila ---</p>

    {% for forum in seznam %}
        <p>Pošiljatelj: <a href="/">{{ forum.sender }}</a></p>
        <p>Sporočilo: {{ forum.message }} </p>
        <p>Kreirano: {{ forum.created }} </p>
        <p>   --------------------------- </p>
    {% endfor %}


    <div id="link">
        <a id=aback href="/">Tukaj klikni za nazaj</a>
    </div>



{% endblock specifika %}
