{% extends "base1.html" %}

{% block title %}Time{% endblock title %}

{% block specifika %}

    <form method='post' action='/redirecttime'>
            <ol id="col">
                <li id="cli">Datum: <input type= "date" id="noborderinput" name='datum' ></li>
                <li id="cli">Dogodek: <input name='dogodek' ></li>
                <li id="cli"><button class=myButton type='submit'>Shrani</button></li>
            </ol>


    {% for forum in podatki %}
        <p>Prejemnik: {{ forum.event }}</a></p>
        <p>Sporočilo: {{ forum.datum }} </p>
        <p>   --------------------------- </p>
    {% endfor %}


    <div id="link">
        <a href="/">Nazaj na začetek</a>
    </div>



{% endblock specifika %}
