{% extends "base1.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}


    <h1>Vnesite sporočilo</h1>
        <form method='post' action='/redirect'>
        <ul>
            <li> Ime</li>
            <li><input name='fime' value="{{ user.nickname() }}" readonly ></li>
            <li> Priimek</li>
            <li><input name='fpriimek'></li>
            <li> Email</li>
            <li><input name='femail' value="{{ user.email() }}" readonly></li>
            <li> Sporocilo</li>
            <li><textarea rows="4" cols="50" name='fsporocilo' onclick="this.focus();this.select()">Obvezno vpisi kaj notri</textarea></li>
            <li><button class=myButton type='submit'>Objavi</button></li>
            </ul>


    <h1 id=h1seznam>Seznam sporočil</h1>

    {% for forum in forumseznam %}
        <p>Ime: <a href="/forum/{{ forum.key.id() }}">{{ forum.fime }}</a></p>
        <p>Sporočilo: {{ forum.fsporocilo }} </p>
        <p>   --------------------------- </p>
    {% endfor %}
    <div id="link">
        <a id=aback href="/">Tukaj klikni za nazaj</a>
    </div>






{% endblock specifika %}
