{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block specifika %}

{% if logiran %}
    <h1>Vreme v naslednjih krajih</h1>

    {% for n in range(3)  %}
        <h2>Vreme v kraju {{ podatki.list[n].name }}</h2>
        <p>Opis: {{ podatki.list[n].weather[0].description }}</p>
        <p>Trenutna temperatura: {{ podatki.list[n].main.temp }} stopinj C</p>
        {% endfor %}
    <div id="link">
        <a href="/">Nazaj na začetek</a>
    </div>

    <p><a href="{{ logout_url }}">Odjavi se tukaj</a></p>
{% else %}
    <h1>Dobrodošli na naši strani!!!</h1>
    <h2>Ker skrbimo za varnost se prosim prijavi <a href="{{ login_url }}">tukaj</a></h2>
{% endif %}
{% endblock specifika %}
